body{
    font-family: 'Open Sans', sans-serif;
}

.bar{
    font-size: 35px;
    color: black;
    font-weight: bolder;
}

.bar:hover{
    color: rgb(45, 45, 129);
}


.navbar{
    top: 0;
    background-color:white;
    color: black;
    position: sticky;
    z-index: 2;
}


.navbar-2{
    top: 0;
    background-color:red;
    color: black; 
    position: sticky;
    z-index: 1;
    display: flex;
    font-size: 18px;
}

.second-nav-left a{
    color: orange;

}

.second-nav-left a:hover{
    color: darkorange;
    text-decoration: none;
    
}

.l{
    width: 50%;
    float: left;
}

@media (min-width:780px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}

@media (max-width:780px){
    .form-inline{
        background-color: black; 
    }

    .second-nav-left{
        display: none;
    }
    .hmcard{
        padding-top: 200px !important;
    }
    .dropdown-menu{
        width: 100vw;
    }
}

.dropdown-menu{
    background-color: darkorange;
}

.form-control{
    outline: 1px solid black;
}

.hmcard{
    padding-top: 100px;
}

.card-title{
    font-weight: 900;
}

.checked{
    color: orange;
}

.faded-grey{
    background-color:white;
    color: black;
    opacity: 80%;
}

.faded-grey:hover{
    background-color: aliceblue;
}

.container-img{
    position: relative;
}
.pos-left {
    position: absolute;
    bottom: 15px;
    left: 16px;
    font-size: 30px;
}
.pos-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color:white;
}

.pos-right:hover{
    color:red;
}

.absolute {
    position: absolute;
    width: 50%;
    bottom: 20px;
} 

.btn-deeporange{
    background-color: darkorange;
    color: white;
    font-size: 18px;
}

.bccode{
    float:right;
}